# Python
__pycache__/
*.py[cod]
*$py.class
.Rhistory

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Python cache
.pytest_cache/

# Temporary files
*.tmp
*.bak

# Generated CSVs
cleaned_movies.csv
